<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css">
    <title>PowerPulse</title>
  </head>
  <body>
    <header>
      <h1>PowerPulse</h1>
    </header>
    <div class="container">
      {% block content %}
      <section class="homes">
        <!-- displays the homes and their data -->
      </section>
      {% endblock %}
    </div>
    <footer>
      <p>Made by Qkiu</p>
    </footer>
  </body>
</html>
